

.chat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 60vw;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background: white;
  margin-top: 30px;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message-container {
  margin-bottom: 10px;
}

.message-mine {
  text-align: right;
}

.message-author {
  font-weight: bold;
}

.message-text {
  background: #f1f1f1;
  padding: 5px;
  border-radius: 5px;
  
}

.chat-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
